{% extends "zdlra/zdlra.html" %}
{% load mathfilters %}

{% block content %}
<a href="{% url 'zdlra:zdlra-export' %}"><i class="bi-filetype-csv" style="font-size: 2rem;"></i></a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for object in object_list %}
        <tr>
            <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="w-50">
    <canvas id="zdlraSpace"></canvas>
</div>

{% endblock %}

{% block js_file %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.1.0/dist/chartjs-plugin-annotation.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
{% endblock %}

{% block js_script %}
{{ block.super }}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const data = {
            "datasets":[{% for zdlra in object_list %}
                {
                    data:[
                        {% for metric in zdlra.zdlraspacemetric_set.all.select_related %}
                        {
                        "x":'{{metric.date | date:"Y-m-d H:i:s"}}',
                        "y":{{metric.used|intdiv:1024}}
                        },{% endfor %}
                    ],
                    label:"{{ zdlra }}",
                    tension: 0.4,
                    cubicInterpolationMode: 'monotone',
                },{% endfor %}
            ]
        };
        new Chart(
            document.getElementById("zdlraSpace"), 
            {
                type: "line",
                data: data,
                options: {
                    scales: {
                        x: {
                            type: "time",
                            time: {
                                unit: 'month'
                            }
                        },
                        y: {
                            max: 250,
                            title: {
                                text: "Used Tb",
                                display: true
                            }
                        }
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: 'ZDLRA Space usage'
                        },
                        {% with first_metric=object_list.first.zdlraspacemetric_set.last %}
                        annotation: {
                            annotations: {
                                line1: {
                                    type: 'line',
                                    yMin: {{ first_metric.size|intdiv:1024 }},
                                    yMax: {{ first_metric.size|intdiv:1024 }},
                                    borderColor: 'rgb(255, 99, 132)',
                                    borderWidth: 2,
                                }
                            }
                        }
                        {% endwith %}
                    }
                }
        });
    });
</script>
{% endblock %}