{% extends "core/skeleton.html" %}
{% load class_name %}
{% block content %}

<p>{{ count }} results for <b>{{ query }}</b></p>

<ul>
{% for object in object_list %}
    {% with object|class_name as klass %}
        <li>{{ klass }}: <a href='{{ object.get_absolute_url }}'>{{ object }}</a></li>
    {% endwith %}
{% endfor %}
</ul>

{% endblock content %}
