{% extends "system/filesystem.html" %}
{% load mathfilters %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item">{{ object.mount_point }}</li>
{% endblock %}

{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>Server</th>
            <td><a href="{{ object.server.get_absolute_url }}">{{ object.server }}</a></td>
        </tr>
        <tr>
            <th>Mount point</th>
            <td>{{ object.mount_point }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ object.type }}</td>
        </tr>
        <tr>
            <th>Snapshot date</th>
            <td><!-- Snapshot ID : {{ object.snapshot.id }} -->{{ object.snapshot.date }}</td>
        </tr>
    </tbody>
</table>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-fsSize-tab" data-bs-toggle="pill" data-bs-target="#pills-fsSize" type="button" role="tab" aria-controls="pills-fsSize" aria-selected="true">Filesystem Size</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-fsSize" role="tabpanel" aria-labelledby="pills-fsSize-tab" tabindex="0">
        <div class="w-50">
            <canvas id="fsSize"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block js_file %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.1.0/dist/chartjs-plugin-annotation.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
{% endblock %}

{% block js_script %}
{{ block.super }}
<script>
    var dataFilesystemSize = []
    var dataFilesystemUsed = []

    {% for metric in object.filesystemsizemetric_set.all %}
    dataFilesystemSize.push({"x":'{{metric.date | date:"Y-m-d H:i:s"}}',"y":{{metric.size|intdiv:1073741824}}});
    dataFilesystemUsed.push({"x":'{{metric.date | date:"Y-m-d H:i:s"}}',"y":{{metric.used|intdiv:1073741824}}});
    {% endfor %}


    document.addEventListener("DOMContentLoaded", function () {
        const dataFsSize = {
            "datasets":[
                {
                    data: dataFilesystemSize,
                    label: "Size",
                    tension: 0.4,
                    cubicInterpolationMode: 'monotone',
                },{
                    data: dataFilesystemUsed,
                    label: "Used",
                    tension: 0.4,
                    cubicInterpolationMode: 'monotone',
                },
            ]
        };
        new Chart(
            document.getElementById("fsSize"), 
            {
                type: "line",
                data: dataFsSize,
                options: {
                    scales: {
                        x: {
                            type: "time",
                            time: {
                                unit: 'month'
                            }
                        },
                        y: {
                            title: {
                                text: "Used Gb",
                                display: true
                            }
                        }
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: 'Filesystem Size'
                        },
                    }
                }
        });
    });
</script>
{% endblock %}