{% extends "core/skeleton.html" %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-striped">
    {{ form }}
    </table>
    <input type="submit" value="Enregistrer"> <a href="{% if server %}{{ server.get_absolute_url }}{% else %}{% url 'system:server-list' %}{% endif %}"><input type="button" value="Abandoner"></a>
</form>
{% endblock %}