{% extends "core/snapshot.html" %}

{% block content %}

{% include "core/paginator.html" %}
<table class="table table-striped">
    <thead>
        <tr>
            <th># ({{ paginator.count }})</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for snapshot in object_list %}
        <tr>
            <td><a href="{{ snapshot.get_absolute_url }}">{{ snapshot.id }}</a></td>
            <td>{{ snapshot.date }}</td>
            <td><a href="{{ snapshot.get_absolute_url }}">{{ snapshot.status }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "core/paginator.html" %}

{% endblock %}