{% extends "database/database.html" %}
{% load mathfilters %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item">{{ object.name }}</li>
{% endblock %}

{% block content %}
<h1>Pluggable database</h1>
<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>DBID</th>
            <td>{{ object.dbid }}</td>
        </tr>
        <tr>
            <th>Size</th>
            <td>{{ object.size | filesizeformat }}</td>
        </tr>
        <tr>
            <th>Creation date</th>
            <td>{{ object.created }}</td>
        </tr>
        <tr>
            <th>Snapshot date</th>
            <td><!-- Snapshot ID : {{ object.snapshot.id }} -->{{ object.snapshot.date }}</td>
        </tr>
    </tbody>
</table>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-instances-tab" data-bs-toggle="pill" data-bs-target="#pills-instances" type="button" role="tab" aria-controls="pills-instances" aria-selected="true">Instances</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-tablespaces-tab" data-bs-toggle="pill" data-bs-target="#pills-tablespaces" type="button" role="tab" aria-controls="pills-tablespaces" aria-selected="false">Tablespaces</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-users-tab" data-bs-toggle="pill" data-bs-target="#pills-users" type="button" role="tab" aria-controls="pills-users" aria-selected="false">Users</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-replication-tab" data-bs-toggle="pill" data-bs-target="#pills-replication" type="button" role="tab" aria-controls="pills-replication" aria-selected="false">Dataguard</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-services-tab" data-bs-toggle="pill" data-bs-target="#pills-services" type="button" role="tab" aria-controls="pills-services" aria-selected="false">Services</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-instances" role="tabpanel" aria-labelledby="pills-instances-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Instance</th>
                    <th>Server</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for instance in object.instances.all %}
                <tr>
                    <td><a href="{{ instance.get_absolute_url }}">{{ instance }}</a></td>
                    <td><a href="{{ instance.server.get_absolute_url }}">{{ instance.server }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pills-tablespaces" role="tabpanel" aria-labelledby="pills-tablespaces-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tablespace</th>
                    <th>Usage</th>
                    <th>Size</th>
                    <th>Used</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for tablespace in tablespaces %}
                {% widthratio tablespace.size_metric.used tablespace.size_metric.size 100 as used_percent %}
                <tr>
                    <td><a href="{{ tablespace.get_absolute_url }}">{{ tablespace.name }}</a></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Tablespace usage" style="width: {{ used_percent }}%;" aria-valuenow="{{ used_percent }}" aria-valuemin="0" aria-valuemax="100">{{ used_percent }}%</div>
                        </div>
                    </td>
                    <td>{{ tablespace.size_metric.size | filesizeformat }}</td>
                    <td>{{ tablespace.size_metric.used | filesizeformat }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for user in oracle_users %}
                <tr>
                    <td><a href="{{ user.get_absolute_url }}">{{ user }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pills-replication" role="tabpanel" aria-labelledby="pills-replication-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Database</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for database in object.replication_system.database_set.all %}
                <tr>
                    <td><a href="{{ database.get_absolute_url }}">{{ database }}</a></td>
                    <td>{{ database.database_role }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pills-fra" role="tabpanel" aria-labelledby="pills-fra-tab" tabindex="0">
        <div class="w-50">
            <canvas id="fraSpace"></canvas>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-services" role="tabpanel" aria-labelledby="pills-services-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Services</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for service in object.services_set.all %}
                <tr>
                    <td><a href="{{ service.get_absolute_url }}">{{ service }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}