{% extends "database/tablespace.html" %}
{% load mathfilters %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item">{{ object.name }}</li>
{% endblock %}

{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>Database</th>
            <td><a href="{{ object.database.get_absolute_url }}">{{ object.database }}</a></td>
        </tr>
        <tr>
            <th>Bigfile</th>
            <td>{{ object.bigfile }}</td>
        </tr>
        <tr>
            <th>Block Size</th>
            <td>{{ object.block_size }}</td>
        </tr>
        <tr>
            <th>Extent Management</th>
            <td>{{ object.extent_management }}</td>
        </tr>
        <tr>
            <th>Force Logging</th>
            <td>{{ object.force_logging }}</td>
        </tr>
        <tr>
            <th>Segment Space Management</th>
            <td>{{ object.segment_space_management }}</td>
        </tr>
        <tr>
            <th>Contents</th>
            <td>{{ object.contents }}</td>
        </tr>
        <tr>
            <th>Snapshot date</th>
            <td><!-- Snapshot ID : {{ object.snapshot.id }} -->{{ object.snapshot.date }}</td>
        </tr>
    </tbody>
</table>
<div class="w-50">
    <canvas id="tablespace_size"></canvas>
</div>
{% endblock %}

{% block js_file %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
{% endblock %}

{% block js_script %}
{{ block.super }}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const data = {
            "datasets":[
                {
                    "data":[
                        {% for metric in object.tablespacespacemetric_set.all %}
                        {"x":'{{metric.date | date:"Y-m-d H:i:s"}}',"y":{{metric.used|intdiv:1073741824}}},{% endfor %}
                    ],
                    "label":"Used"
                },
            ]
        };
        new Chart(document.getElementById("tablespace_size"), {
            type: "line",
            data: data,
            options: {
                    scales: {
                        x: {
                            type: "time",
                            time: {
                                unit: 'month'
                            }
                        },
                        y: {
                            title: {
                                text: "Used Gb",
                                display: true
                            }
                        }
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: 'Tablespace Size'
                        },
                    }
                }
        });
    });
</script>
{% endblock %}