{% extends "database/database.html" %}

{% block content %}

{% include "core/paginator.html" %}
<a href="{% url 'database:database-export' %}"><i class="bi-filetype-csv" style="font-size: 2rem;"></i></a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name ({{ paginator.count }})</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for database in object_list %}
        <tr>
            <td><a href="{{ database.get_absolute_url }}">{{ database }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "core/paginator.html" %}

{% endblock %}