{% extends "database/instancebinary.html" %}

{% block content %}

{% include "core/paginator.html" %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Path ({{ paginator.count }})</th>
            <th>Server</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for instance_binary in object_list %}
        <tr>
            <td><a href="{{ instance_binary.get_absolute_url }}">{{ instance_binary.path }}</a></td>
            <td><a href="{{ instance_binary.server.get_absolute_url }}">{{ instance_binary.server }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "core/paginator.html" %}

{% endblock %}