{% extends "database/service.html" %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item">{{ object }}</li>
{% endblock %}

{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ object }}</td>
        </tr>
        <tr>
            <th>Target Database</th>
            <td><a href="{{ object.database.get_absolute_url }}">{{ object.database }}</a></td>
        </tr>
    </tbody>
</table>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-listeners-tab" data-bs-toggle="pill" data-bs-target="#pills-listeners" type="button" role="tab" aria-controls="pills-listeners" aria-selected="true">Listeners</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-listeners" role="tabpanel" aria-labelledby="pills-listeners-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for listener in object.listeners.all %}
                <tr>
                    <td><a href="{{ listener.get_absolute_url }}">{{ listener }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}